logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
test/
dist/

# vscode
.vscode

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

.github
.vscode
/.github
/.vscode

